.job {
	display: block;
	width: 235px;
	margin-bottom: 5px !important;
	line-height: 1.4 !important;
}

.command {
	font-weight: bold !important;
}

.priority {
	color: #00ff00;
	font-weight: bold;
}

.nopositions {
	font-style: italic;
}

.rightround {
	float: right;
}
