
@font-face {
  font-family: "RetroVilleNC";
  src: url("retroville.eot"); /* IE9 Compat Modes */
  src: url("retroville.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("retroville.otf") format("opentype"), /* Open Type Font */
    url("retroville.svg") format("svg"), /* Legacy iOS */
    url("retroville.ttf") format("truetype"), /* Safari, Android, iOS */
    url("retroville.woff") format("woff"), /* Modern Browsers */
    url("retroville.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}